* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

p {
    font-size: larger;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
}

header {
    background-color: #fff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

#home-button {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.nav-buttons a#home-button:hover,
.nav-buttons a:hover {
    background-color: #dcdcdc;
    border-radius: 5px;
}


/* タイトルセクション */
.title-section {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
}

.title-content {
    position: relative;
}

.title-section h1 {
    font-size: 2.5em;
    margin: 0;
    background-color: #f5f5f5;
}

.title-section h2 {
    font-size: 1.5em;
    margin: 0;
    background-color: #f5f5f5;
}


.about-us {
    padding: 40px 20px;
    text-align: center;
}

.about-us h1 {
    margin-bottom: 20px;
}

.card-set {
    display: flex;
    justify-content: center;
    padding: 20px 50px; /* セクション全体にパディングを追加 */
}

.card {
    position: relative;
    border-radius: 15px;
    width: calc(33.33% - 20px); /* 画面幅を3等分し、カード間にスペースを考慮 */
    margin: 10px; /* カード間にマージンを追加 */
}

.card-img-top {
    height: 50%;
    object-fit: cover;
    object-position: center top;
}

.card .btn {
    position: absolute;
    bottom: 20px; 
    left: 75%;
    color: black;
    background-color: #f5f5f5 !important;
}

.card-body {
    height: 250px;
}

.card-3 {
    height: 500px;
}

.card-body a:hover {
    background-color: #dcdcdc !important;
}

.card-text {
    margin-bottom: auto !important;
    font-size: larger !important
}

.up-date {
    padding-left: 10px;
    margin-bottom: 0.5px !important;
}

.section-name h2{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 40px;
}

.section-name h5{
    margin-left: 60px;
}


.news-list{
    list-style: none outside;
    margin: 0;
    padding: 10px 60px;
  }

.news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333 !important;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item a .title:hover {
    color: #333;
    text-decoration: none;
}

.news-list .item:first-child a{
    border-top: 1px solid #CCC;
}

.news-list .item .date{
    margin: 0;
    text-align: center;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category-normal{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category-red{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category-red span{
    background: red;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 34px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .category-normal span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title{
    margin: 0;
    width: 100%;
}

.date {
    margin-top: auto;
    margin-bottom: auto;
}

.news-list .item a:hover .title{
    color: #00F;
}
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }

section {
    padding: 20px 0px;
}

.event-section {
    padding-top: 5px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.event-section h3 {
    margin-top: 10px;
    margin-left: 25px;
}

.event-section h3:nth-of-type(2) {
    margin-left: 25px;
}

.event {
    display: flex;
    overflow: hidden; 
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    width: 80%;
    height: 230px;
    margin-right: auto;
    border: 1.5px solid #ccc;      /* 枠線の色と太さ */
    border-radius: 15px;         /* 角丸の半径 */ 
}

.event img {
    position: relative;
    height: auto;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    object-fit: cover; 
    object-position: center top;
}

.event-content {
    margin: 10px 0px 5px 20px;
    width: 100%;
    position: relative;
}

.event-content p {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.base-info {
    display: flex;
}

.base-info .event-name {
    margin-left: 10px !important;
}
.base-info .place {
    margin-left: 10px !important;
}

.base-info h3 {
    margin-left: 10px;
}

.event .btn {
    position: absolute;
    bottom: 15px; 
    right: 20px;
    color: black;
    background-color: #f5f5f5 !important;
    font-size: 20px;
}

.event .btn:hover {
    background-color: #dcdcdc !important;
}

.more-link {
    display: flex;
    margin: 0px auto;
    width: 80%;
}

.more-link .btn {
    margin-left: auto;
    margin-top: 15px;
    color: black;
    background-color: #f5f5f5;
    font-size: 20px;
}

.more-link {
    display: flex;
    justify-content: right !important;
}

.more-link p {
    font-size: 1.5em;
}

.katsudo-btn {
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
    color: black !important;
    background-color: #dcdcdc;
    left: auto !important;
}


.sns-link {
    margin-left: 40px;
    margin-top: 5px;
    font-size: larger;
}

.sns-link h3,
.sns-link .sns-list {
    margin-top: 25px;
    margin-left: 25px;
}

.sns-link h5 {
    margin-left: 40px;
}

.divider {
    margin: 30px 100px;
}


.form-container {
    display: flex;
    justify-content: center;
}

.form-container iframe {
    width: 100%;
    max-width: 1500px; /* 最大幅を設定 */
    height: 315px;
    border-radius: 15px; /* 任意で角を丸く */
}


/* フッター全体 */
.footer {
    font-family: Arial, sans-serif;
}

/* フッター本体 */
.footer-main {
    align-items: center;
    padding: 20px;
    background-color: #EEEEEE; /* フッター本体の背景色 */
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px; /* ロゴのサイズ調整 */
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* SNSアイコンエリア */
.footer-sns {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-sns a {
    margin: 0 10px;
}

.footer-sns img {
    width: 24px; /* SNSアイコンのサイズ */
    height: 24px;
}

/* 著作権表示エリア */
.footer-copyright {
    padding: 10px;
    background-color: #777; /* 著作権エリアの背景色 */
    color: #fff;
    text-align: center;
}

.overlay-image {
    opacity: 0.3;
    transition: opacity 0.3s;
    height: 300px;
    border-radius: 10px; /* 角を丸くする */
}
  
.overlay-image:hover {
    opacity: 0.6;
}
  
.text-overlay {
    color: black;
    text-align: center;
  }

.slide-card {
    width: 90%;
}

.show-more {
    display: none;
    text-align: center;
    cursor: pointer;
}

.footer-sns {
    display: none;
}


@media (max-width: 600px) {
    p {
        font-size: initial !important;
    }

    .logo {
        display: none;
    }
    .nav-buttons {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: small;
    }

    .nav-buttons a {
        padding: 5px 5px !important;
    }

    .nav-buttons #home-button {
        display: none;
    }

    .news-list {
        padding: 10px 20px;
    }

    .title-section {
        height: 300px;
    }

    .title-section h1 {
        font-size: 2.0em !important;
    }

    .title-section h2 {
        font-size: 1.3em !important;
    }

    .title-content {
        padding: 0px 10px;
    }

    .item a {
        padding: 10px 10px !important;
    }

    .row {
        display: block !important;
    }

    .col-md-4 {
        width: 100% !important;
        margin-bottom: 20px;
    }
    
    .overlay-link {
        display: block;
        margin: 0 auto; /* カードを中央揃え */
    }

    .text-overlay {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text-overlay p {
        margin-bottom: 0px;
    }

    .text-overlay p:nth-of-type(1) {
        margin-bottom: 1rem; /* 必要に応じて調整 */
    }

    .section-name h2 {
        font-size: 23px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .section-name h5 {
        margin-left: 40px;
        font-size: 16px;
    }

    .event-content {
        align-items: center;
    }

    .event-section {
        margin-bottom: 0;
        margin-left: 0px;
        padding: 10px 20px;
    }

    .event-section h3 {
        margin-top: 10px !important;
    }

    .event-list {
        padding: 10px 0px 10px 10px;
    }

    .event {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .event .btn {
        font-size: initial !important;
    }

    .event-content {
        width: 50%;
        display: flex;
        margin: 10px 5px 5px 15px;
    }

    .event-content h3 {
        margin: 0px 0px !important;
        font-size: initial;
        font: bolder !important;
    }

    .event-content p {
        font-size: initial !important;
        margin: 0px;
    }

    .event {
        width: 100%;
        height: 130px;
    }

    .event .btn {
        right: 5px;
        bottom: 1px !important;
    }

    .event img {
        width: 50%;
        padding: 5px;
    }

    .base-info {
        display: flex;
        position: relative;
        flex-direction: column; /* 縦方向に並べる */
        margin-bottom: 50px;
    }

    .base-info .place {
        font-size: small;
    }

    .explain p{
        display: none;
    }

    .more-link {
        display: flex;
        justify-content: right !important;
    }

    .more-link p {
        font-size: 1em;
    }

    .card {
        width: 300px !important;
        height: 250px !important;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .card-img-top {
        position: relative;
        height: 60%;
        width: auto;
        overflow: hidden;
        object-fit: cover;
    }

    .card-body {
        height: 40%;
    }
    .card-body .btn {
        font-size: initial !important;
    }

    .card-text {
        display: none;
    }

    .card-set {
        height: 30%;
        padding: 10px 20px;
    }

    .slide-card .btn {
        display: flex;
        justify-content: flex-end;
    }

    .show-more {
        display: flex !important;
    }

    .carousel-inner {
        display: flex !important;
        justify-content: center;
        flex-direction: column;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
    }

    .card-3 {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-right,
    .custom-left {
        display: none !important;
    }

    .show-more {
        margin-top: 5px !important;
    }

    .hidden {
        display: none !important;
    }

    .sns-list {
        margin-top: 10px !important;
    }

    .sns-link {
        margin-left: 5px;
    }

    .sns-link h3,
    .event-section h3 {
        margin-left: 25px;
        font-size: 18px;
    }

    .sns-link h5 {
        font-size: 16px;
    }

    .divider {
        margin: 30px 50px;
    }

    .footer-logo {
        display: none;
    }

    .footer-top {
        justify-content: center;
    }

    .footer-links {
        font-size: 11px;
        flex-wrap: nowrap;
    }
    
}
