* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

#home-button {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.nav-buttons a#home-button:hover,
.nav-buttons a:hover {
    background-color: #dcdcdc;
    border-radius: 5px;
}


/* タイトルセクション */
.title-section {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
}

.title-content {
    position: relative;
}

.title-section h1 {
    font-size: 2.5em;
    margin: 0;
    background-color: #f5f5f5;
}

.title-section h2 {
    font-size: 1.5em;
    margin: 0;
    background-color: #f5f5f5;
}


.about-us {
    padding: 40px 20px;
    text-align: center;
}

.about-us h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.card-set {
    display: flex;
    justify-content: center;
    padding: 20px 50px; /* セクション全体にパディングを追加 */
}

.card {
    position: relative;
    border-radius: 15px;
    width: calc(33.33% - 20px); /* 画面幅を3等分し、カード間にスペースを考慮 */
    margin: 10px; /* カード間にマージンを追加 */
}

.card .btn {
    position: absolute;
    bottom: 20px; 
    left: 65%;
    color: black;
    background-color: #dcdcdc;
}

.card-text {
    padding-bottom: 25%;
}

.section-name h2{
    margin-top: 30px;
    margin-left: 40px;
}

.section-name h5{
    margin-left: 60px;
}


.news-list{
    list-style: none outside;
    margin: 0;
    padding: 10px 60px;
  }

.news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}
  
.news-list .item:first-child a{
    border-top: 1px solid #CCC;
}

.news-list .item .date{
    margin: 0;
    text-align: center;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category-normal{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category-red{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category-red span{
    background: red;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 34px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .category-normal span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title{
    margin: 0;
    width: 100%;
}

.news-list .item a:hover .title{
    color: #00F;
}
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }

section {
    padding: 20px 0px;
}

.event-section {
    padding-top: 5px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.event {
    display: flex;
    overflow: hidden; 
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    width: 80%;
    height: 250px;
    margin-right: auto;
    border: 2px solid #ccc;      /* 枠線の色と太さ */
    border-radius: 15px;         /* 角丸の半径 */ 
}

.event img {
    width:35%;
    height: 100%;
    padding: 15px;
    border-radius: 25px;
    object-fit: cover; 
}

.event-content {
    margin: 25px 25px 5px 25px;
    width: 100%;
    position: relative;
}

.event-content h2 {

}

.event-content p {
    font-size: 18px;
    margin-left: 20px;
}

.event .btn {
    position: absolute;
    bottom: 15px; 
    right: 20px;
    color: black;
    background-color: #dcdcdc;
    font-size: 25px;
}
/* フッター全体 */
.footer {
    font-family: Arial, sans-serif;
}

/* フッター本体 */
.footer-main {
    align-items: center;
    padding: 20px;
    background-color: #EEEEEE; /* フッター本体の背景色 */
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px; /* ロゴのサイズ調整 */
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* SNSアイコンエリア */
.footer-sns {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-sns a {
    margin: 0 10px;
}

.footer-sns img {
    width: 24px; /* SNSアイコンのサイズ */
    height: 24px;
}

/* 著作権表示エリア */
.footer-copyright {
    padding: 10px;
    background-color: #777; /* 著作権エリアの背景色 */
    color: #fff;
    text-align: center;
}
